@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

/* Custom Scrollbar for Webkit */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0F2A2F; 
}

::-webkit-scrollbar-thumb {
  background: #D4AF76; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #EAD2C0; 
}

/* Hide scrollbar for step wizard but keep functionality */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}