@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;600;700;800&family=Playfair+Display:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: #0F0F0F; /* fann-teal */
  color: #E5E5E5; /* fann-peach */
  font-family: 'Manrope', sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0F0F0F; 
}

::-webkit-scrollbar-thumb {
  background: #333; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #D4AF76; 
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Premium Input Styles */
.input-premium {
  @apply w-full bg-[#151515] border border-white/10 rounded-none pl-4 pr-4 py-4 focus:outline-none focus:border-fann-gold focus:ring-1 focus:ring-fann-gold transition-all text-white placeholder-gray-600 shadow-inner;
}

.input-error {
  @apply border-red-500 focus:border-red-500 focus:ring-red-500;
}

.btn-primary {
  @apply bg-fann-gold text-black font-bold py-4 px-10 rounded-none uppercase tracking-widest hover:bg-white transition-all shadow-lg shadow-fann-gold/10 hover:shadow-fann-gold/30;
}

.btn-secondary {
  @apply border border-white/20 text-white font-bold py-4 px-10 rounded-none uppercase tracking-widest hover:bg-white hover:text-black transition-all;
}