@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* Custom Scrollbar for Webkit */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0F2A2F; 
}

::-webkit-scrollbar-thumb {
  background: #D4AF76; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #EAD2C0; 
}